<form action="">
    <div class="ui-g ui-fluid ">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">                
                <input type="text" pInputText placeholder="Username" name="nome" [(ngModel)]="usuario.nome">         
            </div>
        </div>
    
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">                
                <input type="email" pInputText placeholder="E-mail" name="email" [(ngModel)]="usuario.email">         
            </div>
        </div>
        
        <div>
            <button pButton (click)="salvar()" label="Salvar"></button>
        </div>        
    </div>

</form>
